# Environments
.env
.venv
env/
venv/
ENV/
ksv-venv/
env.bak/
venv.bak/

# Byte-compiled / optimized /
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Python SQLite / temp files
*.sqlite3
.pytest_cache/

# Node
node_modules/
.npm
